<form class="form-container">
<div class="form-title"><h2>Change Password</h2></div>
<div class="form-group">
  <div class="form-title">Old Password</div>
  {{input type="password"
          class="form-field"
          id="previous"
          placeholder="Old password"
          value=passwords.previous}}
</div>

<div class="form-group">
  <div class="form-title">New Password</div>
  {{input type="password"
          class="form-field"
          id="next"
          placeholder="New password"
          value=passwords.next}}
</div>

<button type="submit" class="submit-button" {{action "submit"}}>
  Change Password
</button>

<button class="submit-button" {{action "reset"}}>
  Cancel
</button>
</form>
