<h3> Add New Customer</h3>
<form {{action 'createExample' on='submit' }}>
    {{input placeholder='New Customer Name'
      value=newCustomer.name
    }}
    <button type="submit" >Save</button>
  </form>
