<h3> Add a Example</h3>
<form {{action 'createExample' on='submit' }}>
    {{input placeholder='New Example Name'
      value=newExample.text
    }}
    <button type="submit" >Save</button>
  </form>
