<h3>Edit Customer Name</h3>
<form {{action 'editCustomer' on='submit'}} >
  {{input placeholder= 'New List Title' value=list.title}}
  <button type='submit'>Save</button>
</form>
{{#link-to "index"}} Go Home {{/link-to}}
