
<div class="form-title"><h2>Change Password</h2></div>
<form class ="form-container"{{action 'editCustomer' on='submit'}} >
  {{input placeholder= 'New Customer Name' value=customer.name}}
  {{input placeholder= 'New Customer Phone' value=customer.phone}}
  {{input placeholder= 'New Customer Email' value=customer.email}}
  <br>
  <button class='button' type='submit'>Save</button>
</form>
<br>
<br>
{{#link-to "customers"}}
<a href='#' class='button' type="submit" > Return To Customer List</a>
{{/link-to}}
