<form class="form-container">
<div class="form-title"><h2>Sign In</h2></div>
{{email-input class="form-field" email=credentials.email}}
{{password-input class="form-field" password=credentials.password}}

<button type="submit" class="submit-button" {{action "submit"}}>
  Sign In
</button>

<button class="submit-button" {{action "reset"}}>
  Cancel
</button>
</form>
