<div class="box">
<div class="box-block">
{{#link-to 'customer' customer}}
<h3>{{customer.name}}</h3>
{{!-- <h3>{{customer.email}}</h3>
<h3>{{customer.phone}}</h3> --}}
{{/link-to}}
</div>
</div>
<br>
<button type="button" class="btn btn-danger btn-sm" {{action 'deleteCustomer'}}>Delete Customer</button>

{{#link-to 'edit' customer}}
<button> Edit Customer</button>
{{/link-to}}
