<h3> Add a Customer</h3>
<form {{action 'createCustomer' on='submit' }}>
    {{input placeholder='New Customer Name'
      value=newCustomer.title
    }}
    <button type="submit" >Save</button>
  </form>
