@import 'bootstrap';
@import 'bootstrap/theme';


#navigation  {
  text-align: center;
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

#navigation li {
  text-indent: 20px;
  line-height: 40px;
  color: white;
}

#navigation >li:hover {
  background-color: lime;
  cursor: pointer;
}

#navigation li a {
  display: block;
  text-decoration: none;
  color: lime;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}


h1 {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}
h2 {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

h6 {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

.ember-view {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}
.container-fluid {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}
//
// #liquid-bind-demo {
//     font-size: 48px;
//     line-height: 66px;
//     text-align: center;
//     .liquid-outlet {
// 	display: inline-block;
// 	vertical-align: top;
//     color: lime;
//     }
//
//     .liquid-child {
//         /* This prevents a slight horizontal wobble in firefox. */
//         width: 1.5em;
//         color: lime;
//     }
// }
