@import 'bootstrap';
@import 'bootstrap/theme';


#navigation  {
  text-align: center;
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

#navigation li {
  text-indent: 20px;
  line-height: 40px;
  color: white;
}

#navigation >li:hover {
  background-color: lime;
  cursor: pointer;
}

#navigation li a {
  display: block;
  text-decoration: none;
  color: lime;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}


h1 {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}
h2 {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

h6 {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

.ember-view {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}
.container-fluid {
  background-color: black;
  color: lime;
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 1.5px 1.5px 1.5px black,
               2px 2px 2px lime;
}

.card {
  background-color: black;
  border: 2px solid lime;
  float: left;
  height: 300px;
  margin: 5px;
  text-align: left;
  width: 31%;
  // -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  //  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.card:hover {
  // background-color: rgb(175, 175, 175);
  background: black;
  border: 4px solid lime;
//   -webkit-transform: rotate(360deg);
// transform: rotate(360deg);
}

.card-block {
  padding-bottom: 3px;
  padding-top: 10px;
}


// ul {
//   background-color: black;
//   color: lime;
//   margin: 0px;
//   padding: 10px;
//   text-transform: uppercase;
//   letter-spacing: 0.1em;
//   text-shadow: 1.5px 1.5px 1.5px black,
//                2px 2px 2px lime;
// }
// div {
//   background-color: black;
//   color: lime;
//   margin: 0px;
//   padding: 10px;
//   text-transform: uppercase;
//   letter-spacing: 0.1em;
//   text-shadow: 1.5px 1.5px 1.5px black,
//                2px 2px 2px lime;
// }

//
// #liquid-bind-demo {
//     font-size: 48px;
//     line-height: 66px;
//     text-align: center;
//     .liquid-outlet {
// 	display: inline-block;
// 	vertical-align: top;
//     color: lime;
//     }
//
//     .liquid-child {
//         /* This prevents a slight horizontal wobble in firefox. */
//         width: 1.5em;
//         color: lime;
//     }
// }
.button {
   border: 5px solid #32cd32;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#010305), to(#3e779d));
   padding: 9.5px 19px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #32cdbd 0 1px 0;
   color: #32cd32;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 5px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 5px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
   .deletebutton {
      border: 5px solid #ff0000;
      background: #3e779d;
      background: -webkit-gradient(linear, left top, left bottom, from(#010305), to(#3e779d));
      padding: 9.5px 19px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
      -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
      box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
      text-shadow: #ff0000 0 1px 0;
      color: #ff0000;
      font-size: 17px;
      font-family: helvetica, serif;
      text-decoration: none;
      vertical-align: middle;
      }
   .deletebutton:hover {
      border: 5px solid #0a3c59;
      text-shadow: #1e4158 0 1px 0;
      background: #3e779d;
      background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
      background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
      background: -moz-linear-gradient(top, #65a9d7, #3e779d);
      background: -ms-linear-gradient(top, #65a9d7, #3e779d);
      background: -o-linear-gradient(top, #65a9d7, #3e779d);
      background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
      color: #fff;
      }
   .deletebutton:active {
      text-shadow: #1e4158 0 1px 0;
      border: 5px solid #0a3c59;
      background: #65a9d7;
      background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
      background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
      background: -moz-linear-gradient(top, #3e779d, #65a9d7);
      background: -ms-linear-gradient(top, #3e779d, #65a9d7);
      background: -o-linear-gradient(top, #3e779d, #65a9d7);
      background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
      color: #fff;
      }

      .nameplate {

      }
      .nameplate:hover {

      }
      .nameplate:active {

      }
      .example-enter {
        opacity: 0.01;
      }

      .example-enter.example-enter-active {
        opacity: 1;
        transition: opacity .5s ease-in;
      }
      .example-leave {
        opacity: 1;
      }

      .example-leave.example-leave-active {
        opacity: 0.01;
        transition: opacity .5s ease-in;
      }

      .form-container {
     border: 5px solid #32cd32;
     background: #001030;
     background: -webkit-gradient(linear, left top, left bottom, from(#6226a6), to(#001030));
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
     -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
     -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
     box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
     font-family: 'Helvetica Neue',Helvetica,sans-serif;
     text-decoration: none;
     vertical-align: middle;
     min-width:300px;
     padding:20px;
     width:300px;
     }
  .form-field {
     border: 3px solid #32cd32;
     background: #00000b;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     border-radius: 15px;
     color: #32cd32;
     -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
     -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
     box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
     padding:8px;
     margin-bottom:20px;
     width:280px;
     }
  .form-field:focus {
     background: #302d30;
     color: #ff8c00;
     }
  .form-container h2 {
     text-shadow: #32cd32 0 1px 0;
     font-size:18px;
     margin: 0 0 10px 0;
     font-weight:bold;
     text-align:center;
      }
  .form-title {
     margin-bottom:10px;
     color: #32cd32;
     text-shadow: #32cd32 0 1px 0;
     }
  .submit-container {
     margin:8px 0;
     text-align:right;
     }
  .submit-button {
     border: 2px solid #32cd32;
     background: #69a436;
     background: -webkit-gradient(linear, left top, left bottom, from(#14c7af), to(#69a436));
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
     -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
     text-shadow: #00000b 0 1px 0;
     color: #00000b;
     font-family: helvetica, serif;
     padding: 8.5px 18px;
     font-size: 14px;
     text-decoration: none;
     vertical-align: middle;
     }
  .submit-button:hover {
     border: 2px solid #447314;
     text-shadow: #31540c 0 1px 0;
     background: #6aa436;
     background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
     background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
     color: #fff;
     }
  .submit-button:active {
     text-shadow: #31540c 0 1px 0;
     border: 2px solid #447314;
     background: #8dc059;
     background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
     background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
     color: #fff;
     }
