{{#link-to 'example' example}}
<h3>{{example.text}}</h3>
{{/link-to}}
<button type="button" class="btn btn-danger btn-sm" {{action 'deleteExample'}}>Delete Example</button>

{{#link-to 'edit' example}}
<button> Edit Example Name</button>
{{/link-to}}
