<h2>Andrew Zinck</h2>

{{customer-list/customer-form createCustomer="createCustomer"}}

 {{#each model as |customer|}}

{{customer-list/card deleteCustomer="deleteCustomer" customer=customer}}



{{/each}}

{{#link-to "index"}} Go Home {{/link-to}}
