<div class="card">
<div class="card-block">
    <h1> Name: {{model.name}}</h1>
  <ul> Phone Number: {{model.phone}} </ul>
  <ul> Email Address: {{model.email}} </ul>
</div>
</div>
<br>
{{#link-to 'customers'}}
<a href='#' class='button' type="submit" > Return To Customer List</a>
{{/link-to}}
