<div class="row">
  <div class="col-sm-4">
    {{#link-to 'customers.new' class="btn btn-primary btn-block"}}Add New Customer{{/link-to}}
      {{customers-list customers=customers}}
  </div>

  <div class="col-sm-8">

  </div>
</div>
