
<h2>Examples</h2>

{{create-form example=example createExample='createExample'}}

<ul>
{{#each model as |example|}}
  {{example-list/card example=example deleteExample='deleteExample'}}
{{/each}}
</ul>
